

.projects-container {
  background-image: url('../assets/serv-bg.png');
  @apply bg-black text-white min-h-screen py-20;
}

.container {
  @apply mx-auto px-4;
}

.projects-container h1 {
  @apply text-6xl font-imbue mb-12;
}

.filter-section ul {
  @apply flex gap-4;
}

.filter-section li {
  @apply cursor-pointer text-lg font-imbue;
}

.filter-section li {
  @apply text-white underline;
}

.filter-section li {
  @apply text-gray-400;
}

.projects-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8;
}

.project-item img {
  @apply w-full h-64 object-cover filter grayscale transition-all duration-300;
  object-fit: cover; /* Maintain aspect ratio */
  aspect-ratio: 1 / 1; /* Set a consistent aspect ratio */
}

.project-item.group:hover img {
  @apply grayscale-0;
}

.project-item h3 {
  @apply text-2xl font-imbue mt-4;
}

.project-item p {
  @apply text-gray-400;
}