@tailwind base;
@tailwind components;
@tailwind utilities;

.services-container {
    @apply bg-black min-h-screen flex flex-col items-center justify-center text-center text-white relative font-imbue;
    @apply xl:px-40 lg:px-36 px-20;
    @apply  text-3xl md:text-4xl lg:text-5xl;
    background-image: url('../assets/serv-bg.png');
}
.vertical-text {
    @apply text-white;
    @apply -mt-8 font-imbue font-light;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.services {
    @apply mt-20;
}

.service {
    @apply my-3 font-imbue;
}
