@tailwind base;
@tailwind components;
@tailwind utilities;

.services-container {
    @apply bg-black min-h-screen flex flex-col items-center justify-center text-center text-white relative font-imbue;
    @apply xl:px-40 lg:px-36 px-20;
    @apply  text-3xl md:text-4xl lg:text-5xl overflow-hidden;
    background-image: url('../assets/serv-bg.png');
}

.ani-canvas-1 {
    @apply w-full md:w-1/2 h-full rotate-[-4deg] absolute top-auto right-auto left-auto opacity-50;
}

.ani-canvas-2 {
    @apply  w-[110vw] md:w-1/2 h-full rotate-[8deg] absolute -top-4 right-auto -left-14  md:left-[22vw] opacity-70;
}
.vertical-text {
    @apply text-white;
    @apply -mt-8 font-imbue font-light;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.services {
    @apply mt-20;
}

.service {
    @apply my-3 font-imbue;
}
