@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@font-face {
  font-family: 'Humane';
  src: local("Humane-Medium"), url("./assets/fonts/Humane-Medium.ttf") format("truetype");  font-style: normal;
}

body {
  font-family: 'Imbue', sans-serif;
}
