/* DM sans, Imbue, Space Mono */
@font-face {
  font-family: 'Imbue';
  src: local("Imbue"), url("./assets/fonts/Imbue-VariableFont_opsz,wght.ttf") format("truetype");  
  font-style: normal;
  unicode-range: U+0020-007F;
}

@font-face {
  font-family: 'DM Sans';
  src: local("DM Sans"), url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");  
  font-style: normal;
  unicode-range: U+0020-007F;
}


/* @font-face {
  font-family: 'DM Sans';
  src: local("DM Sans"), url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+0020-007F;
} */

@font-face {
  font-family: 'Space Mono';
  src: local("Space Mono"), url("./assets/fonts/SpaceMono-Regular.ttf") format("truetype");  
  font-style: normal;
  unicode-range: U+0020-007F;
}

/* @font-face {
  font-family: "Space Mono";
  src: local("Space Mono"), url("./assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-style: italic;
  unicode-range: U+0020-007F;
} */

@font-face {
  font-family: 'Humane';
  src: local("Humane-Medium"), url("./assets/fonts/Humane-Medium.ttf") format("truetype");  
  font-style: normal;
  unicode-range: U+0020-007F;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  height: 100px;
  width: 6px; /* Adjust width */
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Darker color for the thumb */
  border-radius: 10px; /* Rounded edges for the thumb */
}

::-webkit-scrollbar-track {
  background-color: #d3d3d3; /* Light gray track color */
  border-radius: 10px; /* Rounded edges for the track */
}

::selection {
  background-color: gray;
  unicode-range: U+0020-007F;
}

body {
  font-family: 'Imbue', serif;
  @apply bg-black;
  unicode-range: U+0020-007F;
}
